*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
}
#intro{
    height: 40%;
    width: 100%;
    background-color: beige;
    padding: 50px;
}
#intro h1{
    font-size: 90px;
    line-height: 130px;
}
#place{
    padding: 5px;
    font-weight: bold;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#photo{
    width: 100%;
}